body {
    background-color: #000000 !important;
  }

#alec1{
    border-radius: 200px;
    width: 200px;
    height: 200px;
}

#tweetmenu{
    color: white;
    height: 80px;
    font-size: 20px;
    margin-top: 20px;
    border: 2px solid white;

}

.itemBlock{
    padding-top: 50px;
}

#tweets{
    margin-top: 15px;
}

#head{
    background-color: black;
    color: whitesmoke;
    margin-top: 30px;
    padding: 10px;
}
  
#logo{
    height: 30px;
    width: 30px;
}

#compose{
    display: flex;
    height: 30px;
    width: 30px;
    align-content: left;
}

  .jumbotron {
    background-image: url(https://wallpaperstock.net/green-grass-background_wallpapers_35060_1600x1200.jpg);
    background-position: -100px;
    background-repeat: no-repeat;
    color: antiquewhite;
    text-shadow: 2px 2px #555555;
    background-attachment: fixed;
    margin-bottom: 0;
  }
  
  #jumboMargin {
      margin-bottom: 0px;
  }
  
  #leftList {
      margin-top: 1rem;
      list-style: none;
      font-size: 1.5rem;
      color: white;
      text-shadow: 1px rgb(92, 92, 92);
  }
  
  .leftListItem{
      padding-bottom: 1rem;
  }
  
  .leftListItem:hover{
      color: gold;
  }
  
  #middleList {
      list-style: none;
      padding: 0rem 1rem 1rem 1rem;
  }
  
  /* icon and border*/
  .iconPad {
      padding-top: 1rem;
      padding-left: 1rem;
      border: 1px solid rgb(150, 149, 149);
      border-top: none;
      border-bottom: none;
  }
  
  /* make icon round */
  .circle {
      border-radius: 1.5rem;
  }
  
  /* formatting for name and handle*/
  
  .namePad {
      padding-left: .75rem;
  }
  
  .featureContent {
      color: white;
      border: 1px solid rgb(150, 149, 149);
      border-top: none;
      padding: 1rem;
  }
  
  
  /* styling for under post buttons */
  .postButtons1, .postButtons2, .postButtons3, .postButtons4  {
      list-style: none;
      display: inline;
      padding: 0px 2rem;
      font-size: .5rem;
  }
  
  
  /* below post button colors */
  .postButtons1:hover  {
      color: green;
  }
  
  .postButtons2:hover {
      color: blue;
  }
  
  .postButtons3:hover {
      color: red;
  }
  
  .postButtons4:hover {
      color: rgb(0, 191, 255);
  }
  /* end of post buttons */
  
  
  #rightList{
      padding-top: 1rem;
      list-style: none;
      color: white;
  }
  
  .rightListCard {
      border: 1px solid white;
      background-color: rgb(34, 34, 34);
      padding: .25rem;
      text-align: center;
  }
  
  .rightListCard:hover {
      background-color: gold;
      color: black;
  }
  
  #searchRightList {
      padding: 0px 20px;
  }
  
  footer {
    border-top: 1px solid white;
    position: absolute;
    width: 100%;
    height: auto;
  }
  
  
  .contact{
      list-style: none;
      display: inline;
      padding-left: 1rem;
      padding-right: 1rem;
  }
  
  .borderLeft {
      border-left: 1px solid white;
  }
  